@media screen and (min-width: 769px) {
    .header-search {
        display: flex;
        margin-left: 15px;
        width: 40%;
    }

    .header-search__form {
        width: 95%;
    }

    .header-search__inner {
        display: flex;
        height: 30px;
        padding-left: 50px;
    }

    .header-search__txt {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        background-color: #fff;
    }

    .header__link {
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 0 auto;
        width: 30%;
    }

    .header__link-logout {
        border: none;
        background-color: #000;
        cursor: pointer;
        color: #fff;
    }

    .header__link-item {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .header__listing {
        margin-right: 20px;
    }

    .header__listing-link {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        width: 80px;
    }

    .detail {
        display: flex;
        margin-top: 9%;
    }

    .detail__img {
        width: 50%;
        position: fixed;
    }

    .detail__inner {
        width: 60%;
        margin-top: 5%;
        margin-left: 20%;
    }

    .detail__img-item {
        width: 100%;
    }

    .detail__explanation {
        width: 50%;
        margin-left: 50%;
    }

    .detail__ttl {
        margin-bottom: 0;
        font-size: 20px;
    }

    .detail__item-name {
        font-size: 13px;
    }

    .detail__item-price {
        font-size: 20px;
        padding: 10px 0 5px 0;
    }

    .mylist-button__unbookmark {
        color: #ffef09;
        border: none;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        outline: none;
    }

    .mylist-button__bookmark {
        color: #aeaeb3;
        border: none;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        outline: none;
    }

    .detail__item-comment {
        margin-left: 20px;
    }

    .fa-star {
        font-size: 20px;
    }

    .comment__button {
        border: none;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        outline: none;
    }

    .fa-comment {
        font-size: 20px;
    }

    .counter {
        margin: 5px auto;
        color: #000;
    }

    .detail__flex {
        display: flex;
        padding: 5px 0 5px 0;
    }

    .comment {
        width: 65%;
    }

    .comment__user {
        display: flex;
        margin-bottom: 5px;
    }

    .comment__img {
        width: 20px;
        height: 20px;
    }

    .comment__user-img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    .user-name {
        font-size: 13px;
        padding-top: 3px;
    }

    .comment__seller {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
    }

    .comment__seller-name {
        margin-right: 5px;
    }

    .comment__seller-img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    .seller-name {
        font-size: 13px;
        padding-top: 3px;
    }

    .comment__content {
        background-color: rgb(207, 206, 206);
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .comment__content-txt {
        margin: 0;
        padding: 3px;
        font-size: 13px;
    }

    .comment__post {
        margin-top: 30px;
        width: 65%;
    }

    .comment__post-heading {
        font-size: 13px;
    }

    .comment__post-txt {
        height: 100px;
        margin: 0;
        width: 100%;
    }

    .form__button {
        margin-top: 30px;
        padding-bottom: 40px;
    }

    .form__button-submit {
        color: #fff;
        background-color: #ff333f;
        border: none;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 300;
        height: 30px;
        width: 65%;
        cursor: pointer;
    }

    .form__error {
        color: #ff333f
    }

}

@media screen and (max-width: 768px) {
    .header-search {
        position: absolute;
        top: 110%;
        left: 20%;
        width: 60%;
    }

    .header-search__inner {
        height: 30px;
    }

    .header-search__txt {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        background-color: #fff;
    }

    .header__link {
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 0 auto;
        width: 50%;
    }

    .header__link-logout {
        border: none;
        background-color: #000;
        cursor: pointer;
        color: #fff;
        font-size: max(1.8vw, 11px);
    }

    .header__link-item {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        font-size: max(1.8vw, 11px);
    }

    .header__listing-link {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        width: 60px;
    }

    .detail {
        width: 60%;
        margin: 0 auto;
        margin-top: 5%;
    }

    .detail__img {
        margin-top: 70px;
    }

    .detail__inner {
        margin-top: 5%;
        margin-left: 5%;
    }

    .detail__img-item {
        width: 100%;
    }

    .detail__explanation {
        margin-left: 5%;
    }

    .detail__ttl {
        margin-bottom: 0;
        font-size: 20px;
    }

    .detail__item-name {
        font-size: 13px;
    }

    .detail__item-price {
        font-size: 20px;
        padding: 10px 0 5px 0;
    }

    .mylist-button__unbookmark {
        color: #ffef09;
        border: none;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        outline: none;
    }

    .mylist-button__bookmark {
        color: #aeaeb3;
        border: none;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        outline: none;
    }

    .detail__item-comment {
        margin-left: 20px;
    }

    .fa-star {
        font-size: 20px;
    }

    .comment__button {
        border: none;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        outline: none;
    }

    .fa-comment {
        font-size: 20px;
    }

    .counter {
        margin: 5px auto;
        color: #000;
    }

    .detail__flex {
        display: flex;
        padding: 5px 0 5px 0;
    }

    .comment {
        width: 100%;
    }

    .comment__user {
        display: flex;
        margin-bottom: 5px;
    }

    .comment__img {
        width: 20px;
        height: 20px;
    }

    .comment__user-img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    .user-name {
        font-size: 13px;
        padding-top: 3px;
    }

    .comment__seller {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
    }

    .comment__seller-name {
        margin-right: 5px;
    }

    .comment__seller-img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    .seller-name {
        font-size: 13px;
        padding-top: 3px;
    }

    .comment__content {
        background-color: rgb(207, 206, 206);
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .comment__content-txt {
        margin: 0;
        padding: 3px;
        font-size: 13px;
    }

    .comment__post {
        margin-top: 30px;
    }

    .comment__post-heading {
        font-size: 13px;
    }

    .comment__post-txt {
        height: 100px;
        width: 100%;
        margin: 0;
    }

    .form__button {
        margin-top: 30px;
        padding-bottom: 40px;
    }

    .form__button-submit {
        color: #fff;
        background-color: #ff333f;
        border: none;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 300;
        height: 30px;
        width: 100%;
        cursor: pointer;
    }

    .form__error {
        color: #ff333f
    }

}