@media screen and (min-width: 769px) {
    body {
        height: 550px;
        margin: 0;
        font-family: "游ゴシック", "arial unicode ms", sans-serif;
    }

    .header__inner {
        background-color: #000000;
        display: flex;
        align-items: center;
        padding: 0 10px 0 10px;
        height: 50px;
    }

    .success {
        width: 250px;
        margin: 100px auto;
    }

    .success__comment {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .form__button {
        margin-top: 50px;
        text-align: center;
    }

    .form__button-link {
        display: block;
        margin: 0 auto;
        color: #fff;
        text-decoration: none;
        background-color: #ff333f;
        border: none;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 300;
        height: 30px;
        width: 250px;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    body {
        height: 550px;
        margin: 0;
        font-family: "游ゴシック", "arial unicode ms", sans-serif;
    }

    .header__inner {
        background-color: #000000;
        display: flex;
        align-items: center;
        padding: 0 10px 0 10px;
        height: 50px;
    }

    .success {
        width: 250px;
        margin: 50px auto;
    }

    .success__comment {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .form__button {
        margin-top: 50px;
        text-align: center;
    }

    .form__button-link {
        display: block;
        margin: 0 auto;
        color: #fff;
        background-color: #ff333f;
        text-decoration: none;
        border: none;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 300;
        height: 30px;
        width: 200px;
        cursor: pointer;
    }
}